<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="rdef.net" type="RDeF.Configuration.RdefNetConfigurationSection, RDeF.Core" />
    </configSections>
    <rdef.net>
        <factories>
            <add name="heracles.net">
                <mappingAssemblies>
                    <add name="Heracles.net.Tests" />
                </mappingAssemblies>
            </add>
        </factories>
    </rdef.net>
</configuration>